:root {
	--survol_bouton : #dfb54f;
}

.navbar{ 
    background-color: black;
    grid-template-columns: 20% 20% 15% 20% 20%;
    grid-template-rows: 100%;
    display: grid;
    width:auto;
    text-align: center;
    font-size: calc(0.5em + 1vw);
}
.navbar li{
    height: fit-content;
}

.navbar a{
    /* display : block; */
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    color : var(--survol_bouton);
    text-decoration-color: var(--survol_bouton);
    border-bottom: solid 1px var(--survol_bouton);
    cursor:default;
}
#menu dl, dt, dd, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li:hover{
    cursor:pointer;
}


.banniere_visiteur {
    display: grid;
	grid-template-columns: 10% 8% 13% 13% 13% 13% 13% 8% 8%;
    grid-template-rows: 24% 48% 29%;
	grid-gap: 2px;
	padding: 5px;
    background-size: cover;
    background-image:url(../img/imgBanniere.PNG);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    /* margin: 0px 10px 0px 10px; */
}
.accueil_bv {
    grid-column-start: 3;
	grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    /*padding: 38px 0px 0px 0px;*/
}
.informations_bv {
    grid-column-start: 4;
	grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
#img{
    height: auto;
    width: 95px;
    cursor:default;
} 
.logo_bv {
    grid-column-start: 1;
	grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.menu_bv {
    grid-column-start: 5;
	grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}
.connexion_bv {
    grid-column-start: 6;
	grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}
.inscription_bv {
    grid-column-start: 7;
	grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}


.insta_bv {
    grid-column-start: 1;
	grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#instagram {
    /* width: 70%; */
    width: 30px;
}

.fb_bv {
    grid-column-start: 2;
	grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#facebook {
    /* width: 70%; */
    width: 30px;
}

.tel_bv {
    grid-column-start: 3;
	grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#telephone {
    /* width: 70%; */
    width: 30px;
}

.reseaux_sociaux {
    grid-column-start: 9;
	grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;

    display:grid;
    grid-template-columns: 33% 33% 33% 1%;
    grid-template-rows: 15% 69% 15%;
	grid-gap: 2px;
}

/* .cadreLogoCNF {
    grid-column-start: 1;
	grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size:41px;
    line-height: 36px;
    padding: 29px 0px 0px 10px;
    color: white;
}
.cadreLogoCNF img {  
    max-width: 100%;  
    height: auto;  
    background-image: url(../img/LogoD.png);
} */

.reseaux_sociaux a:hover{
    color:white;
    border-bottom: solid 1px white;
    cursor:pointer;
}
.reseaux_sociaux a:focus{
    color:white;
    border-bottom: solid 1px white;
    cursor:pointer;
}
.menu_imgbv {
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
    display:none;
    border: 1px white solid;
    padding: 1px;
    opacity: 0.5;
    height: 34px;
    width: 36.5px;
}
#img_menu{
    height: auto;
    width: 28px;
    cursor:default;
} 
#img_menu:hover{
    cursor: pointer;
}

.croix_menubv {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display:none; 
    border: 1px white solid;
    padding: 1px;
    opacity: 0.5;
    margin: 24px 0px 0px 0px;
    height: 34px;
    width: 36.5px;
}
#croix_menu{
    height: auto;
    width: 28px;
    cursor:default;
} 
#croix_menu:hover{
    cursor: pointer;
}
.menu_detail {
    position: absolute;
    top: -2px;
    left: 0px;
    height: 60%;
    width: 100%;
    grid-template-columns: 36% 28% 19.9% 10% 4%;
    grid-template-rows: 10% 16% 6% 4% 6% 4% 6% 4% 6% 4% 6% 4% 7% 12%;
    grid-gap: 2px;
	padding: 5px;
    background-size: cover;
    background-image:url(../img/imgBanniere.PNG);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin:0px;
    background-color: black;
}


@media only screen and (max-width: 1410px) {
    .banniere_visiteur {grid-template-columns: 10% 7% 13% 13% 13% 13% 13% 7% 9%;}
}
@media only screen and (max-width: 1150px) {
    .banniere_visiteur {grid-template-columns: 10% 5% 13% 13% 13% 13% 13% 6% 12%;}
}
@media only screen and (max-width: 820px) {
    .banniere_visiteur {grid-template-columns: 10% 4% 13% 13% 13% 13% 13% 5% 13%;}
}
@media only screen and (max-width: 720px) {
    .banniere_visiteur {grid-template-columns: 10% 3% 13% 13% 13% 13% 13% 3% 15%;}
}

@media only screen and (max-width: 720px) {
    .reseaux_sociaux{grid-row-end: 4;
        grid-template-rows: 33% 33% 33%;
        grid-template-columns: auto;}
    .insta_bv{grid-row-start: 1;
        grid-row-end: 2;}
    .fb_bv{grid-column-start: 1;
        grid-column-end: 2;}
    .tel_bv{grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;}
    .banniere_visiteur{grid-template-columns: 10% 7% 13% 13% 13% 13% 13% 10% 6% 0%;
        grid-template-rows: 26% 36% 31%;}
    #instagram {width: 25px;}
    #facebook {width: 25px;}
    #telephone {width: 25px;}
    #img {width: 95px;}
}

@media only screen and (max-width: 560px) {
    .banniere_visiteur {grid-template-columns: 10% 7% 14% 14% 14% 14% 14% 3% 6% 0%;}
}

@media only screen and (max-width: 495px) {
    .banniere_visiteur {grid-template-columns: 10% 7% 13% 13% 13% 13% 2% 10% 10% 4%;
        grid-template-rows: 26% 36% 31%;}
    .accueil_bv{display: none;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;}
    .informations_bv{display: none;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;}
    .menu_bv{display: none;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;}
    .connexion_bv{display: none;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 10;}
    .inscription_bv{display: none;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 11;
        grid-row-end: 12;}
    .menu_imgbv{display:initial;}
    .insta_bv{grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;}
    .fb_bv{grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;}
    .tel_bv{grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;}
    .reseaux_sociaux{display: none;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 14;
        grid-row-end: 15;
        grid-template-rows: auto;
        grid-template-columns: 33% 33% 33%;}
    #img{display: block;}
}

