/* Barre de navigation */

:root {
	--survol_bouton : #dfb54f;
}

.navbar{ 
    background-color: black;
    grid-template-columns: 20% 20% 15% 20% 20%;
    grid-template-rows: 100%;
    display: grid;
    width:auto;
    text-align: center;
    font-size: calc(0.5em + 1vw);

}
.navbar li{
    height: fit-content;
}

.navbar a{
    /* display : block; */
    color: white;
    text-decoration: none;
    /* margin-top:15%; */

}

.navbar a:hover{
    color : var(--survol_bouton);
    text-decoration-color: var(--survol_bouton);
    border-bottom: solid 1px var(--survol_bouton);
    cursor:default;
}


  
#menu dl, dt, dd, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li:hover{
    cursor:pointer;
}



.banniere_visiteur {
    display: grid;
	grid-template-columns: 10% 8% 13% 13% 13% 13% 13% 8% 8%;
    grid-template-rows: 24% 48% 29%;
	grid-gap: 2px;
	padding: 5px;
    background-size: cover;
    background-image:url(../img/imgBanniere.PNG);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;
    /* margin: 0px 10px 0px 10px; */
}
.accueil_bv {
    grid-column-start: 3;
	grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    /*padding: 38px 0px 0px 0px;*/
}
.informations_bv {
    grid-column-start: 4;
	grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
#img{
    height: auto;
    width: 95px;
    cursor:default;
} 
.logo_bv {
    grid-column-start: 1;
	grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.menu_bv {
    grid-column-start: 5;
	grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}
.connexion_bv {
    grid-column-start: 6;
	grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}
.inscription_bv {
    grid-column-start: 7;
	grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}


.insta_bv {
    grid-column-start: 1;
	grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#instagram {
    /* width: 70%; */
    width: 30px;
}

.fb_bv {
    grid-column-start: 2;
	grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#facebook {
    /* width: 70%; */
    width: 30px;
}

.tel_bv {
    grid-column-start: 3;
	grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#telephone {
    /* width: 70%; */
    width: 30px;
}

.reseaux_sociaux {
    grid-column-start: 9;
	grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;

    display:grid;
    grid-template-columns: 33% 33% 33% 1%;
    grid-template-rows: 15% 69% 15%;
	grid-gap: 2px;
	/* padding: 5px; */
}

.cadreLogoCNF {
    grid-column-start: 1;
	grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size:41px;
    line-height: 36px;
    padding: 29px 0px 0px 10px;
    color: white;
}
.cadreLogoCNF img {  
    max-width: 100%;  
    height: auto;  
    background-image: url(../img/LogoD.png);
}

.reseaux_sociaux a:hover{
    color:white;
    border-bottom: solid 1px white;
    cursor:pointer;
}
.reseaux_sociaux a:focus{
    color:white;
    border-bottom: solid 1px white;
    cursor:pointer;
}

.banniere_visiteur .bouton_gauche {
    display : none;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: left;
}
.banniere_visiteur .bouton_droite {
    display : none;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 7;
    text-align: right;
}
.banniere_visiteur .avancement {
    display:none;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-template-columns: 6% 16% 16% 16% 16% 16% 3%;
    grid-template-rows: auto;
	grid-gap: 2px;
}
.banniere_visiteur .rondBV1 {
    background-color: var(--rempli);
    border-radius: 17px;
    height: 9px;
    width: 9px;
    grid-column-start: 2;
    grid-column-end: 3;
}
.banniere_visiteur .rondBV2 {
    background-color: var(--vide);
    border-radius: 17px;
    height: 9px;
    width: 9px;
    grid-column-start: 3;
    grid-column-end: 4;
}
.banniere_visiteur .rondBV3 {
    background-color: var(--vide);
    border-radius: 17px;
    height: 9px;
    width: 9px;
    grid-column-start: 4;
    grid-column-end: 5;
}
.banniere_visiteur .rondBV4 {
    background-color: var(--vide);
    border-radius: 17px;
    height: 9px;
    width: 9px;
    grid-column-start: 5;
    grid-column-end: 6;
}
.banniere_visiteur .rondBV5 {
    background-color: var(--vide);
    border-radius: 17px;
    height: 9px;
    width: 9px;
    grid-column-start: 6;
    grid-column-end: 7;
}
.banniere_visiteur input[type=button] {
    background-color: RGBa(0, 0, 0, 0);
    border:none;
    color:white;
    font-size: 32px;
    transform: translateY(-15%);
    padding: 0px;
}

body {
    margin:0px;
    background-color: black;
}

@media only screen and (max-width: 1680px) {
    .banniere_visiteur .bouton_gauche {display : none;}
    .banniere_visiteur .bouton_droite {display : none;}
    .accueil_bv{display : initial;}
    .informations_bv {display : initial;}
    .menu_bv {display : initial;}
    .connexion_bv {display : initial;}
    .inscription_bv {display : initial;}
}
@media only screen and (max-width: 1410px) {
    .banniere_visiteur {grid-template-columns: 10% 7% 13% 13% 13% 13% 13% 6% 10%;}
}
@media only screen and (max-width: 1150px) {
    .banniere_visiteur {grid-template-columns: 10% 5% 13% 13% 13% 13% 13% 6% 12%;}
}
@media only screen and (max-width: 900px) {
    .banniere_visiteur{grid-template-rows: 24% 36% 9% 25%;}
    .accueil_bv {display : initial;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 5;
        grid-column-end: 6;
        transform: translateY(18%);}
    .informations_bv {display : none;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 5;
        grid-column-end: 6;
        transform: translateY(18%);}
    .menu_bv {display : none;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 5;
        grid-column-end: 6;
        transform: translateY(18%);}
    .connexion_bv {display : none;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start:5;
        grid-column-end: 6;
        transform: translateY(18%);}
    .inscription_bv  {display : none;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 5;
        grid-column-end: 6;
        transform: translateY(18%);}
    .banniere_visiteur .bouton_gauche {display : initial;}
    .banniere_visiteur .bouton_droite {display : initial;}
    .banniere_visiteur .avancement {display:grid;}
    /* #img {width: 122%;} */
}
@media only screen and (max-width: 820px) {
    .banniere_visiteur {grid-template-columns: 10% 4% 13% 13% 13% 13% 13% 5% 13%;
        grid-template-rows: 24% 36% 9% 25%;}
}

@media only screen and (max-width: 720px) {
    /* .banniere_visiteur {grid-template-columns: 10% 3% 13% 13% 13% 13% 13% 3% 15%;} */
    .banniere_visiteur .avancement {grid-row-start: 4;
        grid-row-end: 5;}
    .reseaux_sociaux{grid-row-end: 5;
        grid-template-rows: 33% 33% 33%;
        grid-template-columns: auto;}
    .insta_bv{grid-row-start: 1;
        grid-row-end: 2;}
    .fb_bv{grid-column-start: 1;
        grid-column-end: 2;}
    .tel_bv{grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;}
    .banniere_visiteur{grid-template-columns: 10% 7% 13% 8% 22% 8% 13% 8% 7%;
        grid-template-rows: 24% 31% 12% 25%;}
    #instagram {width: 25px;}
    #facebook {width: 25px;}
    #telephone {width: 25px;}
}
@media only screen and (max-width: 460px) {
    #img {display:none}
    .banniere_visiteur {grid-template-columns:1% 1% 18% 12% 30% 12% 13% 0% 10%;
    grid-template-rows: 20% 36% 16% 31%;}
    .reseaux_sociaux {grid-column-start: 6;
        grid-row-end: 2;
        grid-template-columns: 27% 22% 22% 22%;
        grid-template-rows: auto;}
    .insta_bv {grid-column-start: 2;
            grid-column-end: 3;}
    .fb_bv {grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;}
    .tel_bv {grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;}
    .navbar {height: 75px;}
    #telephone {width: 18px;}
    #facebook {width: 18px;}
    #instagram {width: 18px;}
    .navbar li {font-size: 17px;}
    .banniere_visiteur .avancement {grid-row-start: 4;
        grid-row-end: 5;}
}