:root {
	--survol_bouton : #dfb54f;
}

.c_barre_nav{ 
    background-color: black;
    grid-template-columns: 20% 20% 15% 20% 20%;
    grid-template-rows: 100%;
    display: grid;
    width:auto;
    text-align: center;
    font-size: calc(0.5em + 1vw);


}

.banniere_connecte {
    display: grid;
	grid-template-columns: 10% 8% 13% 13% 13% 13% 13% 8% 0% 8%;
    grid-template-rows: 34% 40% 26%;
	grid-gap: 2px;
	padding: 5px;
    background-size: cover;
    background-image:url(../img/img5.jpeg);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;
    background-position-y: 852px;
    /* margin: 0px 10px 0px 10px; */
}
.c_barre_nav li{
    height: fit-content;
}

.c_barre_nav a{
    display : block;
    color: white;
    text-decoration: none;
    /* margin-top:15%; */

}

.c_barre_nav a:hover{
    color : var(--survol_bouton);
    text-decoration-color: var(--survol_bouton);
    border-bottom: solid 1px var(--survol_bouton);
    cursor:default;
}
li:hover{
    cursor:pointer;
}


.accueil_bc {
    grid-column-start: 3;
	grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    /*padding: 38px 0px 0px 0px;*/
}
.informations_bc {
    grid-column-start: 4;
	grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
#img_bc{
    height: auto;
    width: 78%;
    cursor:default;
} 
.logo_bc {
    grid-column-start: 1;
	grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.menu_bc {
    grid-column-start: 5;
	grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}
.profilpv_bc {
    grid-column-start: 6;
	grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}
.deconnexion_bc {
    grid-column-start: 7;
	grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}


.insta_bc {
    grid-column-start: 1;
	grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#instagram_bc {
    width: 70%;
}

.fb_bc {
    grid-column-start: 2;
	grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#facebook_bc {
    width: 70%;
}

.tel_bc {
    grid-column-start: 3;
	grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#telephone_bc {
    width: 70%;
}

.reseaux_sociaux_bc {
    grid-column-start: 10;
	grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;

    display:grid;
    grid-template-columns: 33% 33% 33% 1%;
    grid-template-rows: 15% 69% 15%;
	grid-gap: 2px;
	/* padding: 5px; */
}

.cadreLogoCNF {
    grid-column-start: 1;
	grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size:41px;
    line-height: 36px;
    padding: 29px 0px 0px 10px;
    color: white;
}
.cadreLogoCNF img {  
    max-width: 100%;  
    height: auto;  
    background-image: url(../img/LogoD.png);
}

.reseaux_sociaux_bc a:hover{
    color:white;
    border-bottom: solid 1px white;
    cursor:pointer;
}
.reseaux_sociaux_bc a:focus{
    color:white;
    border-bottom: solid 1px white;
    cursor:pointer;
}


body {
    margin:0px;
    background-color: black;
}
