/* Barre de navigation */

:root {
	--survol_bouton : #dfb54f;
}

.navbar_bs{ 
    background-color: black;
    grid-template-columns: 20% 20% 15% 20% 20%;
    grid-template-rows: 100%;
    display: grid;
    width:auto;
    text-align: center;
    font-size: calc(0.5em + 1vw);

}
.navbar_bs li{
    height: fit-content;
}

.navbar_bs a{
    display : block;
    color: white;
    text-decoration: none;
    /* margin-top:15%; */

}

.navbar_bs a:hover{
    color : var(--survol_bouton);
    text-decoration-color: var(--survol_bouton);
    border-bottom: solid 1px var(--survol_bouton);
    cursor:default;
}


  
#menu dl, dt, dd, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li:hover{
    cursor:pointer;
}



.banniere_staff {
    display: grid;
	grid-template-columns: 10% 21% 13% 13% 13% 21% 8%;
    grid-template-rows: 34% 40% 26%;
	grid-gap: 2px;
	padding: 5px;
    background-size: cover;
    background-image:url(../img/img5.jpeg);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;
    background-position-y: 852px;
    /* margin: 0px 10px 0px 10px; */
}

#img_bs{
    height: auto;
    width: 78%;
    cursor:default;
} 
.logo_bs {
    grid-column-start: 1;
	grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.staff_bs {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.profilpv_bs {
    grid-column-start: 4;
	grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.deconnexion_bs {
    grid-column-start: 5;
	grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}


.insta_bs {
    grid-column-start: 1;
	grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#instagram_bs {
    width: 70%;
}

.fb_bs {
    grid-column-start: 2;
	grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#facebook_bs {
    width: 70%;
}

.tel_bs {
    grid-column-start: 3;
	grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
#telephone_bs {
    width: 70%;
}

.reseaux_sociaux_bs {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;

    display:grid;
    grid-template-columns: 33% 33% 33% 1%;
    grid-template-rows: 15% 69% 15%;
	grid-gap: 2px;
	/* padding: 5px; */
}


.reseaux_sociaux_bs a:hover{
    color:white;
    border-bottom: solid 1px white;
    cursor:pointer;
}
.reseaux_sociaux_bs a:focus{
    color:white;
    border-bottom: solid 1px white;
    cursor:pointer;
}

body {
    margin:0px;
    background-color: black;
}
