body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color : black; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Menu{
    margin-top: 25px;
    margin-bottom: 20%;
    grid-template-columns: 20% 60% 20%; 
    display : grid; 
    /* height: 60px; */
    /* width:10px; */
    text-overflow: scroll;
    background-color: black;
    padding: 0px 0px 60px 0px;

  }
#PrixTotal{
  font-size : 18px; 
  color:#aba8b9;
  border-top:dotted;
  border-top-color: #aba8b9;
  border-top-width:thin  ;
  float:right;

}
  /* Scrollbar Perso */
  
  ::-webkit-scrollbar {
    width: 6px; 
  }
  ::-webkit-scrollbar-thumb {
    background: #b1acaa; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover { 
    background: #696969;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #2A2A2A;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  /* Barres à droite et a gauche du menu */
  
  #Sidebareleft{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url("../img/img5.jpeg");
    background-position-x: left ;
    margin-left: 10%;
    margin-right:5%;
    background-size:cover;
  
  }
  
  #img2{
    width:100%;
    background-size:cover;
  
  }
  
  #Sidebareright{
    grid-column:3;
    grid-row: 1;
    /* grid-row-end: 4; */
    background-image: url("../img/img5.jpeg");
    background-position-x: right;
    margin-right: 10%;
    margin-left:5%;
    color: black;
    font-size: calc(0.8em + 0.8vw);
    font-weight: 1000;
    text-align: center;
    background-size:cover;
  }
  
  #img3{
    width:100%;
    background-repeat: repeat-y;
    opacity: 1;
  }

@media only screen and (max-width: 720px) {
    #Sidebareright{
      background-image: none;
      grid-column: 3;
    }
    #Sidebareleft{
      background-image: none;
      grid-column: 1;

    }
    .Menu{
      grid-template-columns:5% 90% 5% ; 
      display : grid; 
    }

    #bordPrincipa{
      grid-column: 1;
    }
    #panier{
      position:absolute;
      right:0px;
      bottom:0px;
      top:58%;
      left:10%;
      width: 57%;
      height :40%; 
      overflow-y:scroll ;
      /* color:#be5833; */
      background-color: black;
      border-style: solid;
      border-color:rgb(104, 110, 104);
  
    }
  }

  /* Boutton sous le cadre */

.symbolpanier div{
  visibility: hidden;
}

span.symbolpanier:hover div{
  visibility: visible;
  /* background-color: rgb(240, 222, 144); */
  border-color:black;
  border-style:solid;
  

}

  #panier{
    position:absolute;
    right:0px;
    bottom:0px;
    top:55%;
    left:21%;
    width: 57%;
    height :40%;
    overflow-y:scroll ;
    /* color:#be5833; */
    background-color: black;
    border-style: solid;
    border-color:rgb(104, 110, 104);

  }


.symbolpayer{
  float:right;
 color:blanchedalmond;
 text-decoration: none;
 float: right;
}

.symbolpanier{
  float: left;
  color:blanchedalmond;
  margin-left:7%
  
}

.symbolpayer:hover{
  text-decoration: blanchedalmond;
}

#menuT:hover{
  color:blueviolet;
  text-decoration-color: blueviolet;
  
}
#menuT{
  margin-right:15px;
  float: left;
}




/* Menu */

.cadre{
  border-color:#2e2d29;
  border-style: solid;
  margin-bottom:1%;
  border-radius: 30px;
  z-index: 1;
}
#bordPrincipal{
  border:none;
  height: fit-content;
  grid-column-start:2;
  grid-column-end:5;
  height:550px;
  overflow-y: scroll;
}
#bordure{
  border:none;

}
.menu{
  float: right;
  color : white;
  text-decoration-line: none;
}

.menu a:hover{
  color : lightskyblue;
  text-decoration-line: underline;
  text-decoration-color: red;
}

/* ...... Contenu d'un cadre catégorie.....  */

.titre{
  color: rgb(223 142 22);
  font-size: 30;
 
}

.titre:hover{
  margin-left:10px;
 /* color:#ff2600 */
}

.contenu{
  color:#ff6e40; 
  font-size: calc(0.7em + 0.7vw);
  margin-top:200%;
  margin-bottom: 30px; 
}

input.valeur{  
  width: 30px;
  background-color: #5b5454;
  float : right;
  margin-top:1%;
  border-radius: 3px;
  border-right:-5px;

}

.price{ 
  color:#ff6e40; 
  float: right;
}

.description{
  font-size: calc(0.5em + 0.5vw);
  color:#e0a96b;
  float:left;
  width: 60%;
}

/* ________ */

.haut{
  border-bottom: dotted;
  border-width: thin;
  border-color:#ff6e40;
}

.bas{
  margin-bottom:75px;
}

/*________Commande du panier_________*/ 

.nomProduit{
  color : rgb(199, 28, 16);
 

}
.quantitee{
  color:rgb(104, 110, 104);
}
.prixTotal{
  color:rgb(104, 110, 104);
}

#panier{
  border-bottom: whitesmoke;
  border-bottom-style:thin;
  /* background-color: #383838; */
}
/* .total{
  color:red
} */
