.c_cgu {
    padding: 50px 150px 50px 150px;
    color: white;
}
.titre {
    text-align: center;
    font-size: 26px;
    color: #cca052;
}
.article {
    color: #cca052;
    font-size: 22px;
    font-weight: bold;
}
.date {
    text-align: center;
    font-size: 18px;
}
.lien {
    font-size: 13px;
}

.c_cgu a:link {
    color : #72a9d8;
}
.c_cgu a:active {
    color : #72a9d8;
}
.c_cgu a:visited {
    color : #72a9d8;
}
.c_cgu a:hover {
    color : #3990da;
}
.c_cgu a:focus {
    color : #3990da;
}