.c_cgu {
    padding: 50px 150px 50px 150px;
    color: white;
}
.cgu .titre {
    text-align: center;
    font-size: 26px;
    color: #cca052;
}
.article {
    color: #cca052;
    font-size: 22px;
    font-weight: bold;
}
.date {
    text-align: center;
    font-size: 18px;
}
.lien {
    font-size: 13px;
}

.c_cgu a:link {
    color : #72a9d8;
}
.c_cgu a:active {
    color : #72a9d8;
}
.c_cgu a:visited {
    color : #72a9d8;
}
.c_cgu a:hover {
    color : #3990da;
}
.c_cgu a:focus {
    color : #3990da;
}

::-webkit-scrollbar {
	width: 6px; 
}
::-webkit-scrollbar-thumb {
	background: #b1acaa; 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { 
	background: #696969;
}
::-webkit-scrollbar-thumb:active {
	background: #2A2A2A;
}