.lienPolitiqueCookie a:link {
	color:#d0cdcd;
	text-decoration:underline;
} 
.lienPolitiqueCookie a:visited {
	color: #d0cdcd;
	text-decoration:underline; 
} 
.lienPolitiqueCookie a:hover {
	color: #adabab;
	text-decoration:none; 
}
.lienPolitiqueCookie a:active {
	color:#908f8f;
    text-decoration:none;
}