.justifie {
    text-align:justify
}
.principale {
    text-align:center
}
.couleurPrincipale {
    color:#fd5959;
}
.bg {
    background-color:black;
}

.cadre_mentionslegales {
    color:white;
    padding: 50px 150px 50px 150px;
}

.cadre_mentionslegales a:link {
    color : #72a9d8;
}
.cadre_mentionslegales a:active {
    color : #72a9d8;
}
.cadre_mentionslegales a:visited {
    color : #72a9d8;
}
.cadre_mentionslegales a:hover {
    color : #3990da;
}
.cadre_mentionslegales a:focus {
    color : #3990da;
}

::-webkit-scrollbar {
	width: 6px; 
}
::-webkit-scrollbar-thumb {
	background: #b1acaa; 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { 
	background: #696969;
}
::-webkit-scrollbar-thumb:active {
	background: #2A2A2A;
}