

div.dd-wraper {
    font-size: calc(0.2em + 1vw);
    text-align: center;
    margin: 1%;
    padding : 1%;
    font-weight: 800;
    border : 1px solid black;
    background-image: url("../img/poulet.jpg");
    background-size: cover;
    border-radius: 100px;
}

div.dd-header {
    margin-left: 45%;
    padding: 0%;
    width: 5%;
    
}

fieldset.cadre {
    border-radius: 50px;
    width : 90%;
    margin-top : 1%;
    background-color: rgba(180, 180, 180, 0.582);
}

ul.listHoraires {
    text-align: left;
    padding-inline-start: 1%;
}

ul.listCoord {
    text-align: left;
}

img.toggleImg {
    width: 70%;
}

div.dd-header_action:hover {
    cursor: pointer;
}

div.element_menu{
    background-color: rgba(0, 0, 0, 0.918);
    border-radius: 10px;
    margin-bottom: 1%;
    width: 70%;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color: silver;
}

div.bas {
    margin-top : 1%;
    
}

span.description {
    font-size: calc(0.6em + 1vw);
    font-style: italic;
    color: rgb(156, 156, 156);
}

button.btn , button.delete_menu {
    background-color: darkgoldenrod;
    display: inline-block;
    border-radius: 100px;
    font-size: calc(0.5em + 1vw);
    font-weight: 700;
    text-shadow: 2px white;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 3%;

}

input.input_modif {
    width :30%;
    border-radius: 10px;
    font-size: calc(0.3em + 1vw);
    margin : 1%;
    opacity: 0.9;
    
}

span.contenu, span.price {
    font-size : calc(0.7em + 1vw);
    margin-right : 1%;
}

span.price {
    color : silver;
}

summary.titre {
    font-size : calc(1em + 1vw);
    text-decoration: underline;
    margin-bottom: 1%;
}

form.form_modif {
    width: 100%;
    display: inline-block;
}

li {
    margin-top: 1%;
}

div.horaires {
    margin-bottom: 20%;
    padding-left: 5%;
}

div.dd-wraper-2 {
    font-size: calc(0.2em + 1vw);
    margin: 1%;
    padding : 1%;
    font-weight: 800;
    border : 1px solid black;
    background-image: url("../img/poulet.jpg");
    background-size: cover;
    border-radius: 100px;
}

div.dd-wraper-2 h2 {
    text-align: center;
}

div.dd-wraper-2 p {
    margin-left: 1%;
    margin-bottom: 0%;
}

div.dd-wraper-2 button {
    display: inline-block;
}

div.dd-wraper-3 {
    margin: 1%;
    padding : 1%;
    font-weight: 800;
    border : 1px solid black;
    background-image: url("../img/poulet.jpg");
    background-size: cover;
    border-radius: 100px;
    text-align: center;
}

input.Delete {
    width: fit-content;
    background-color: black;
    color: white;
}

::-webkit-scrollbar {
	width: 6px; 
}
::-webkit-scrollbar-thumb {
	background: #b1acaa; 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { 
	background: #696969;
}
::-webkit-scrollbar-thumb:active {
	background: #2A2A2A;
}

select.categorie {
    border-radius: 20px;
    width: fit-content;
    font-size: calc(0.4em + 1vw);
}