@font-face {
    font-family: 'benton-sans';
    src: url('../img/BentonSans-Comp-Black-Regular.otf');
}

.footer {
    display: grid;
	grid-template-columns:  11% 8% 2% 12% 2% 13% 2% 14% 2% 7% 3% 10%;
    grid-template-rows: 23% 55% 9%;
	grid-gap: 2px;
	/* padding: 5px; */
    /* margin: 0px 100px 0px 100px; */
    /* background-color: #7c6d52; */
    background-color: rgb(112, 72, 11);
    font-size: calc(0.1em + 0.8vw);
    min-width: 300px;
    position: absolute;
    height: 5%;
    width: 100%;
    color: rgb(252, 252, 252);
}

.mentions_legales {
    grid-row-start: 2;
	grid-row-end: 3;
    grid-column-start: 2;
	grid-column-end: 3;
    text-align: center;
}
.confidentialite {
    grid-row-start: 2;
	grid-row-end: 3;
    grid-column-start: 4;
	grid-column-end: 5;
    text-align: center;
}
.cookies {
    grid-row-start: 2;
	grid-row-end: 3;
    grid-column-start: 6;
	grid-column-end: 7;
    text-align: center;
}
.cgu {
    grid-row-start: 2;
	grid-row-end: 3;
    grid-column-start: 8;
	grid-column-end: 9;
    text-align: center;
}
.appeler {
    grid-row-start: 2;
	grid-row-end: 3;
    grid-column-start: 10;
	grid-column-end: 11;
    text-align: center;
}

.footer a:link {
	color:white;
	text-decoration:none;
} 

.footer a:visited {
    color: white;
}

.footer a:hover {
	color: rgb(156, 156, 156);
    border-bottom: 1px solid rgb(255, 255, 255);
}


.copyright {
    margin-top: 5%;
    grid-column-start: 12;
    grid-column-end: 12;
    font-size: calc(0.4em + 0.5vw);
}

@media only screen and (max-width: 1680px) {
	.foot {font-size: 15px;}
}
