@font-face {
    font-family: 'benton-sans';
    src: url('../img/BentonSans-Comp-Black-Regular.otf');
}

.footer {
    display: grid;
	grid-template-columns:  18% 8% 2% 12% 2% 13% 2% 14% 2% 7% 8% 10%;
    grid-template-rows: 23% 55% 9%;
	grid-gap: 2px;
	/* padding: 5px; */
    /* margin: 0px 100px 0px 100px; */

    height: 41px;
    /* background-color: #7c6d52; */
    background-size: cover;
    background-image:url(../img/PiedPage.PNG);
    background-position-y: 62px;
}
.mentions_legales {
    grid-row-start: 2;
	grid-row-end: 3;
    grid-column-start: 2;
	grid-column-end: 3;
    text-align: center;
}
.confidentialite {
    grid-row-start: 2;
	grid-row-end: 3;
    grid-column-start: 4;
	grid-column-end: 5;
    text-align: center;
}
.cookies {
    grid-row-start: 2;
	grid-row-end: 3;
    grid-column-start: 6;
	grid-column-end: 7;
    text-align: center;
}
.cgu {
    grid-row-start: 2;
	grid-row-end: 3;
    grid-column-start: 8;
	grid-column-end: 9;
    text-align: center;
}
.appeler {
    grid-row-start: 2;
	grid-row-end: 3;
    grid-column-start: 10;
	grid-column-end: 11;
    text-align: center;
}

.footer a:link {
	color:white;
	text-decoration:none;
} 
.footer a:visited {
	color: white;
	text-decoration:none; 
} 
.footer a:hover {
	color: white;
	text-decoration:none; 
    border-bottom: 1px solid white;
}
.footer a:active {
	color:white;
}

.copyright {
    grid-row-start: 2;
	grid-row-end: 3;
    grid-column-start: 12;
    grid-column-end: 13;
    font-size: 12px;
    color: white;
    text-align: center;
    line-height: 20px;
}

@media only screen and (max-width: 1680px) {
	.foot {font-size: 15px;}
}
