/* ------------------------------------- Profil Privé ------------------------------------- */

* {
	background-color: black;
}

div.profilPrive {
	text-decoration: underline;
	left: 1%;
	color : rgb(255, 255, 255);
	position: absolute;
	height: 100%;
	width: 100%;
	min-width: 300px;
	min-height: 20%;
	background-color: rgb(0, 0, 0);
	text-align: center;
}

.profilheader {
	font-family:'Courier New', Courier, monospace;
	min-width: 200px;
	font-size: calc(1em + 1vw);
	opacity: 0.7;
}

div.picture img {
	min-width: 150px;
	max-width: 20%;
	border-radius: 50%;	
	margin-bottom : 2%;
	border: 3px solid rgb(56, 56, 56);
	background-image: url("../img/poulet.jpg");
}




div.privateinfo{
	width: 100%;
	height: fit-content;
	min-height: 1000px;
	background-image: url("../img/poulet.jpg");
	background-size: cover;
	font-size: calc(1em + 1vw);

}

div.gauche {
	background-color: black;
	border-radius: 5px;
	width: 60%;
	height: auto;
	margin : 1%;
	min-width: 300px;
	display: inline-block;
	text-align: center;
	opacity: 0.8;
	font-size: calc(1em + 1vw);
}


input{
	height: fit-content;
	width: fit-content;
	color: white;
	font-size: calc(0.3em + 1vw);
	margin: 5%;
}

button {
	height: fit-content;
	width: fit-content;
	color: rgb(252, 252, 252);
	font-size: calc(0.2em + 1vw);
	margin: 5%;
	border-radius: 100px;
}

div.gauche p {
	margin-top : 5%;
}