:root {
	--bg_cadres: #181616; /*#a29e9e;/*#F4F4F4;/*#181616 1gris1*/
	--bg_ligne1: #414141;/*white;/*#414141 gris3*/
	--bg_ligne2: #2A2A2A;/*#FFE5E5;/*#2A2A2A gris2*/
	--bg_titres: #F7C27E;/*#FF3333;/*#F7C27E jaune*/
	--bg_survol: #b1acaa; /*#d06334;orange /*#726673; /*#9DAEB5; bleu-gris*/
	--texte_commande: white;
	--bg_boutons: #F7C27E;/*#181616;*/
	--bg_details: #4D4D4D;
  	--bg_bouton_surplace: #f5deb3;
	--bg_resume_aliments : #565656;
  }
  
staff * {
	  font-family:"Lucida Sans", sans-serif; ; /*modern, monospace;*/
	  background-color: black;
}
  
.c_page {
	display: grid;
	grid-template-columns: 100% ;
	grid-template-rows: 1000px;
	grid-gap: 45px; 
	padding: 0px;
	margin-bottom: 220px;
}
.i_cadre_attente {
	grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.i_cadre_preparation {
	grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.i_cadre_envoi {
	grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.c_titres_commandes {
	display: grid;
	grid-template-columns: 9.2% 16% 22.6% 21.5% 13.5%;
	grid-template-rows: auto  ;
	grid-gap: 2px;
	background-color: black;
	padding: 2px;
	color : var(--bg_cadres) ;
}
.c_titres_commandes > div {
	text-align: center;
	padding: 8px 10px 0px 10px;
	font-size: 21px;
	background-color: var(--bg_titres);
	border-radius: 9px;
}
.i_titres_commandes {
	grid-column-start: 2;
	grid-column-end: 9;
	grid-row-start: 2;
	grid-row-end: 3;

	border-color: #808080;
	background-color: var(--bg_cadres);
	border-radius: 11px 11px 0px 0px;
	padding: 13px 13px 13px 31px;
}
.c_cadre_commandes_afaire {
	display: grid;
	grid-template-columns: 8% 8% 8% 14% 14% 14% 8% 15% 4% 5%;
	grid-template-rows: 3% 7% 88% 2%;
	grid-gap: 5px;
	background-color: black;
	padding: 20px;
	grid-row-gap: 0px; 
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.c_cadre_commandes_encours {
	display: grid;
	grid-template-columns: 8% 8% 8% 14% 14% 14% 8% 15% 4% 5%;
	grid-template-rows: 0% 16% 150px 220px 10%;
	grid-gap: 5px;
	background-color: black;
	padding: 20px;
	grid-row-gap: 0px; 
}

.c_cadre_commandes_envoye {
	display: grid;
	grid-template-columns: 8% 8% 8% 14% 14% 14% 8% 15% 4% 5%;
	grid-template-rows: 0% 16% 150px 220px 10%;
	grid-gap: 5px;
	background-color: black;
	padding: 20px;
	grid-row-gap: 0px; 
}

.c_commandes {
	display: grid;
	grid-template-columns: 1% 98% 1%;
	grid-template-rows: 8%;
	background-color: black;
	padding: 5px;
	grid-gap: 0px;
	height: 770px;
	background-color: var(--bg_cadres);
}
.c_commande {
	display: grid;
	grid-template-columns: 15% 23% 26% 20% 14%;
	grid-template-rows: 100%;
	grid-gap: 4px;
	background-color: black;
	padding: 0px;
	color : white;
}
.c_commande > div {
	border-radius: 3px;
	font-size: 22px;
}
.i_commande {
	grid-column-start: 1;
	grid-column-end: 3;	
	background-color: var(--bg_cadres);
}
.i_bout_cadre_afaire {
	grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
	background-color:var(--bg_cadres);
	border-radius:0px 0px 11px 11px;
}

.c_sans_bouton {
	display: grid;
	grid-template-columns: 11% 19% 27% 25.7% 16% 5%;
	grid-template-rows: auto;
	grid-gap: 4px;
	background-color: #181616;
}
.i_sans_bouton {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}

.i_id_commande {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}
.i_id {
	grid-column-start: 1;
	grid-column-end: 2;
	border-radius: 3px;
	text-align: center;
}

.i_heures {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
.i_heure {
	grid-column-start: 2;
	grid-column-end: 3;
}

.i_noms {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}
.i_nom {
	grid-column-start: 3;
	grid-column-end: 4;
	text-align: left;
	border-radius: 3px;
	padding: 5px 15px 0px 15px;
}

.i_contacts {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}
.i_contact {
	grid-column-start: 4;
	grid-column-end: 5;
	text-align: left;
	border-radius: 3px;
	padding: 5px 15px 0px 15px;
}


.i_prix_titre {
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 2;
}
.i_prix_commande {
	grid-column-start: 5;
	grid-column-end: 6;
	text-align: right;
	border-radius: 3px;
	padding: 5px 15px 0px 15px;
}


.i_heure_prevue {
	grid-column-start: 2; /*6-7*/
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	text-align: center;
	border-radius: 3px;
	padding: 5px 2px 0px 2px;
}
.i_div_bouton {
	grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
	text-align: center;
	padding: 3px;
}
.i_bouton_suivant {
	background-color: var(--bg_boutons);
    color: black;
    border: none;
	border-radius: 5px;
    cursor: pointer;
	height: 27px;
    width: 35px;
    font-size: 18px;
	position: relative;
    top: -4px;
}
.couleur_bg1{
	background-color : var(--bg_ligne2) ;
	color : var(--texte_commande) ;
}
.couleur_bg2{
	background-color : var(--bg_ligne1) ;
	color : var(--texte_commande);
}
.couleur_livrer {
	background : var(--bg_bouton_livrer) ;
}
.couleur_surplace {
	background : var(--bg_bouton_surplace) ; 
}

.i_commandes_afaire {
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 5;
	
	border:none;
	border-color : #808080;
	overflow-y: scroll;	
	background-color: var(--bg_cadres);
}
.i_commandes_encours {
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 5;

	border:none;
	border-color : #808080;
	overflow-y: scroll;
}
.i_commandes_envoye {
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 5;

	border:none;
	border-color : #808080;
	overflow-y: scroll;	
}

.details_commande{
	grid-column-start: 8;
	grid-column-end: 10;
	grid-row-start: 2;
	grid-row-end: 5;
	padding: 24px 0px 0px 13px;
}
.c_info_commande {
	display: grid;
	grid-template-columns: 12% 40% 14% 24% 6%;
    grid-template-rows: 10% 52% 10% 10% 10%;
	grid-gap: 4px;
	row-gap: 8px;
	padding: 11px;
	border-radius: 9px;
}
.info_commande {
	background-color: var(--bg_details);
	border : solid;
	border-color : var(--bg_details);
	font-size : 20px;
	color : white;
	padding: 10px;

	height: 55%;
	position:fixed;
	width: 22%;
}
.i_titre_detail {
	grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
	font-size: 19px;
}
.id_client_detail {
	background-color:var(--bg_titres);
	border-radius: 7px;
    padding: 0px 11px 3px 11px;
}
.i_aliments_detail {
	grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
	overflow-y: scroll;	
	border-radius: 7px;
	padding: 5px 0px 5px 0px;
	height: 110px;
    background-color: grey;
}
#c_aliments_detail_id_details_commande {
	display: grid;
	grid-template-columns: 100%;
    grid-template-rows: auto;
	grid-gap: 4px;
	padding: 2px;
}
#c_aliments_detail_id_details_commande2 {
	display: grid;
	grid-template-columns: 100%;
    grid-template-rows: auto;
	grid-gap: 4px;
	padding: 2px;
}
#c_aliments_detail_id_details_commande3 {
	display: grid;
	grid-template-columns: 100%;
    grid-template-rows: auto;
	grid-gap: 4px;
	padding: 2px;
}
.i_ligne_aliment {
	grid-column-start: 1;
    grid-column-end: 2;
}
.c_ligne_aliment {
	display: grid;
	grid-template-columns: 5% 70% 21%;
    grid-template-rows: 100%;
	grid-gap: 4px;
	padding: 2px;
}
.titre_aliment {
	grid-column-start: 2;
    grid-column-end: 3;

	padding: 0px 0px 6px 0px;
}
.quantite_aliment{
	grid-column-start: 3;
    grid-column-end: 4;
}
.i_payement_detail {
	grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
	color:black;
	line-height: 45px;
	padding: 0px 0px 0px 1px;
}
.i_heure_detail {
	grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
	color:black;
	line-height: 28px;
	padding: 0px 0px 0px 1px;
}
.i_commentaire_detail {
	grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 7;
	color:black;
	line-height: 17px;
	overflow-y: scroll;	
	/* border-radius: 7px; */
	padding: 5px 1px 5px 5px;
}
.info_client {
	color : white ; 
}
.info_com {
	color : white ; 
}
.info_payement {
	color : white ; 
}
.i_adresse_detail_adresse {
	grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
	color: black;
	line-height: 39px;
	padding: 0px 0px 0px 10px;
}
.i_adresse_detail_numero {
	grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
	color: black;
	line-height: 39px;
}
.i_adresse_detail_ville {
	grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
	color: black;
	line-height: 36px;
	padding: 0px 0px 0px 10px;
}
.i_adresse_detail_postal {
	grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
	color: black;
	line-height: 39px;
}


.i_titre_fileattente {
	grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 6;
	/* background-color:white; */
}
.c_titre_fileattente {
	display: grid;
	grid-template-columns: 3% 59% 38%;
    grid-template-rows: 36% 19% 45%;
	grid-gap: 0px;
	padding: 0px;
}
.file_attente {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	color:white;
	font-size: 37px;
	line-height: 77px;
}
.barre_haut_attente {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 2;
	
	border: 4px solid white;
	width: 100px;
	height: 0px;
	-webkit-transform: rotate(50deg);
	border-radius: 10px 0px 0px 10px;
}
.barre_bas_attente {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	
	border: 4px solid white;
	width: 100px;
	height: 0px;
	-webkit-transform: rotate(-50deg);
	border-radius: 10px 0px 0px 10px;
}
.i_titre_preparation {
	grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 10;
	/* background-color:white; */
}
.c_titre_preparation {
	display: grid;
	grid-template-columns: 4% 58% 38%;
    grid-template-rows: 36% 19% 45%;
	grid-gap: 0px;
	padding: 0px;
}
.en_cours_preparation {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	color:white;
	font-size: 37px;
	line-height: 50px;
}
.barre_haut_preparation {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	
	border: 4px solid white;
	width: 100px;
	height: 0px;
	-webkit-transform: rotate(50deg);
	border-radius: 10px 0px 0px 10px;
}
.barre_bas_preparation {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	
	border: 4px solid white;
	width: 100px;
	height: 0px;
	-webkit-transform: rotate(-50deg);
	border-radius: 10px 0px 0px 10px;
}
.i_titre_envoi {
	grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 10;
}
.c_titre_envoi {
	display: grid;
	grid-template-columns: 16% 46% 38%;
    grid-template-rows: 36% 19% 45%;
	grid-gap: 0px;
	padding: 0px;
}
.en_cours_envoi {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	color:white;
	font-size: 37px;
	line-height: 50px;
}
.barre_haut_envoi {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	
	border: 4px solid white;
	width: 100px;
	height: 0px;
	-webkit-transform: rotate(50deg);
	border-radius: 10px 0px 0px 10px;
}
.barre_bas_envoi {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	
	border: 4px solid white;
	width: 100px;
	height: 0px;
	-webkit-transform: rotate(-50deg);
	border-radius: 10px 0px 0px 10px;
}

::-webkit-scrollbar {
	width: 6px; 
}
::-webkit-scrollbar-thumb {
	background: #b1acaa; 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { 
	background: #696969;
}
::-webkit-scrollbar-thumb:active {
	background: #2A2A2A;
}
 
@media only screen and (max-width: 1700px) {
	.c_sans_bouton {grid-template-columns: 11% 19% 27% 25.4% 16% 5%;}
	.c_titres_commandes > div{font-size: 19px;}
}

@media only screen and (max-width: 1500px) {
	.c_sans_bouton {grid-template-columns: 11% 19% 26.5% 25.4% 16% 5%;}
	.c_titres_commandes > div{font-size: 17px;}
	#titre_idcom {padding: 10px 0px 10px 0px;}
}

@media only screen and (max-width: 1260px) {
	.i_id_commande{display:none;}
}
@media only screen and (max-width: 1075px) {
	.i_id_commande{display:none;}
	.i_contact {display:none}
	.c_sans_bouton {grid-template-columns: 12% 23% 35.5% 27.7%;}
	.i_prix_commande {grid-column-start: 4;
			grid-column-end: 5;}
	.c_commande {grid-template-columns: 15% 23% 28% 17% 14%;}
	.i_contacts{display:none}
	.i_prix_titre {
		grid-column-start: 4;
		grid-column-end: 5;}
	.c_titres_commandes {grid-template-columns: 10.2% 19% 29.6% 22.5% 13.5%;}
}
@media only screen and (max-width: 900px) {
	.c_sans_bouton {grid-template-columns: 12% 23% 35.5% 26.7%;}
}
@media only screen and (max-width: 700px) {
	.c_sans_bouton {grid-template-columns: 12% 23% 35.5% 25.7%;}
	.c_commande {grid-template-columns: 15% 23% 27% 17% 14%;}
}

@media only screen and (max-width: 665px) {
	.i_contacts { display:none;}
	.i_noms {display:none;}
	.i_heures { grid-column-end: 4;}
	.i_prix_titre {grid-column-start: 4;}
	.i_nom {display: none;}
	.i_contact {display: none;}
	.c_sans_bouton {grid-template-columns: 18% 31% 47% 4%;}
	.i_prix_commande {grid-column-start: 3;
		grid-column-end: 4;}
	.c_commande {grid-template-columns: 15% 32% 37% 22% 22%;}
	.i_bouton_suivant{height: 22px;
		width: 31px;
		font-size: 13px;}
	.c_item5{    padding: 0px 4px 0px 4px;}
	.detailCommandeAfaire{margin: 5px 3px 6px 3px;
	    grid-column-end: 17;}
	.detailCommandeEnCours{margin: 5px 3px 6px 3px;
	    grid-column-end: 17;}
	.detailCommandeEnvoyee{margin: 5px 3px 6px 3px;
	    grid-column-end: 17;}
	.i_titre_detail{    font-size: 11px;}
	.i_payement_detail{display:none;}
	.i_heure_detail{display:none;}
	.i_commentaire_detail {
		grid-column-start: 1;}
	.c_titres_commandes {grid-template-columns: 18.2% 3% 30.6% 44.5% 13.5%;}
}



.c_item5 {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 9;
	display:grid;
	grid-template-columns: auto ;
	grid-template-rows: 4% 28% 4% 28% 4% 28% 3%;
	grid-gap: 5px; 
	padding: 0px 15px 0px 15px;
	height: 1050px;
	/* grid-row-gap: 22px; */
	background-color: #181616;
	border-radius: 0px 0px 11px 11px;
}
.c_item1 {
	color:black;
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 1;
	grid-column-end: 2;
	overflow-y: scroll;	
	background-color: #181616;
	grid-gap: 5px;
	display: grid;
	margin: 15px;
}

.c_type2 {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 2;
	color:white;
	background-color: #9a9a99;
	font-size: 22px;
    line-height: 20px;
	padding: 5px 15px 5px 15px;
}

.c_item3 {
	color:black;
	grid-row-start: 6;
	grid-row-end: 7;
	grid-column-start: 1;
	grid-column-end: 2;
	overflow-y: scroll;	
	background-color: #181616;
	grid-gap: 5px;
	display: grid;
	margin: 15px;
}

.c_type3 {
	grid-row-start: 5;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 2;
	color:white;
	background-color: #9a9a99;
	font-size: 22px;
    line-height: 20px;
	padding: 5px 15px 5px 15px;
}

.c_item6 {
	color:black;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
	overflow-y: scroll;	
	background-color: #181616;
	grid-gap: 5px;
	display: grid;
	margin: 15px;
}

.c_type1 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	color:white;
	background-color: #9a9a99;
	padding: 5px 15px 5px 15px;
	font-size: 22px;
    line-height: 20px;
}

.detailCommandeAfaire{
	display:none;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
	border-radius: 7px;
	background-color: #9a9a99;

	grid-template-columns: 12% 20% 20% 27% 20% 0%;
    grid-template-rows: 11% 26% 25% 10% 10% 10%;
	grid-gap: 4px;
	row-gap: 8px;
	padding: 11px;
	margin: 5px 25px 6px 15px;
}

.detailCommandeEnCours {
	display:none;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
	border-radius: 7px;
	background-color: #9a9a99;

	grid-template-columns: 12% 20% 20% 27% 20% 0%;
    grid-template-rows: 11% 26% 25% 10% 10% 10%;
	grid-gap: 4px;
	row-gap: 8px;
	padding: 11px;
	margin: 5px 25px 6px 15px;
}

.detailCommandeEnvoyee {
	display:none;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
	border-radius: 7px;
	background-color: #9a9a99;

	grid-template-columns: 12% 20% 20% 27% 20% 0%;
    grid-template-rows: 11% 26% 25% 10% 10% 10%;
	grid-gap: 4px;
	row-gap: 8px;
	padding: 11px;
	margin: 5px 25px 6px 15px;
}