.container-stat{
    position: absolute;
    height: 100%;
    width: 1000%;
    min-width: 500px;

}

div.container-stat h1{
    color: withe;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

::-webkit-scrollbar {
	width: 6px; 
}
::-webkit-scrollbar-thumb {
	background: #b1acaa; 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { 
	background: #696969;
}
::-webkit-scrollbar-thumb:active {
	background: #2A2A2A;
}
