
    
.hero-container{

    height: 100%;
    width: 100%;
    min-width: 1200px;
    display:grid;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    background-color: black;
}

div ul{
    list-style-type: none;
}

.hero-img{
    width: 300px;
    height: 200px;
    border: none;
    margin: 50px 60px; 
    padding: 10px;

}


.defilement-img img{
    width: 650px;
    height: 490px;
    margin: 10px;
    opacity: 0.9;

}

.defilement-img{
    list-style-type: none;
    display: flex;
    margin: 0;
    position: relative;
    top:0;
    padding:0;

}

@keyframes slide{

    10%{left:0px;}
    35%{left:0px;}
    45%{left:-100%;}
    55%{left: -100%;}
    65%{left: -150%;}
    75%{left:-150%;}
    85%{left:-200%;}
    95%{left: -200%;}

}
.defilement-img{
    animation: slide 5s  linear infinite;
}

.commentaires{
    display: grid;
    width: 1000px;
    height: 100% auto;
    position: relative;
    box-sizing: border-box;
    border: solid;
    border-color: rgb(145, 110, 35);
    border-radius: 0.1%;
    text-align: left;
    margin: 20px;
}

div.commentaires h1{
    color:  rgb(145, 110, 35);
    opacity: 1;
}

div.commentaires h2{
    color: white;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.commentaires p {
    color: white;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



@media screen and (min-width:300px) {
    .hero-container{
        width: 400px;
        height: 400px;
    }
    .defilement-img img{
        width: 150px;
        height: 100px;
        margin: 10px;
        opacity: 0.9;

    }


}

@media only screen and (min-width:400px){
    .hero-container{
        width: 600px;
        height: 600px ;
        }
    .defilement-img img{
        width: 350px;
        height: 150px;
        margin: 10px;
        opacity: 0.9;
    }

}

@media only screen and (min-width:600px){
    .hero-container{
        width: 800px;
        height: 800px;
        }
    .defilement-img img{
        width: 550px;
        height: 390px;
        margin: 10px;
        opacity: 0.9;
    }
}


@media only screen and (min-width:800px){
    .hero-container{
        width: 1000px;
        height: 1200px;
        }
    .defilement-img img{
        width: 750px;
        height: 590px;
        margin: 10px;
        opacity: 0.9;


    }
}