body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color : black; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Menu{
    margin-top:40px;
    grid-template-columns: 20% 60% 20%; 
    display : grid; 
    height: 60px;
    /* width:10px; */
    text-overflow: scroll;
    background-color: black;
    
  }
  
  /* Scrollbar Perso */
  
  ::-webkit-scrollbar {
    width: 5px;
    margin-top:1%;
    border-radius: 2àpx;;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(78, 65, 65); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  /* Barres à droite et a gauche du menu */
  
  #Sidebareleft{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url("./img/Cadre_Menu_Gauche.jpg");
    margin-left: 10%;
    margin-right:5%;
  
  }
  
  #img2{
    width:100%;
    background-repeat:repeat-y;
  
  }
  
  #Sidebareright{
    grid-column:3;
    grid-row: 1;
    /* grid-row-end: 4; */
    background-image: url("./img/Cadre_Menu_Droit.jpg");
    margin-right: 10%;
    margin-left:5%;
    color: black;
    font-size: 80%;
    font-weight: 1000;
    text-align: center;
  
  }
  
  #img3{
    width:100%;
    background-repeat: repeat-y;
    opacity: 1;
  }

  /* Boutton sous le cadre */

.symbolpanier div{
  visibility: hidden;

}

span.symbolpanier:hover div{
  visibility: visible;
  /* background-color: rgb(240, 222, 144); */
  border-color:black;
  border-style:solid;

}

#panier{
  position:fixed;
  right:0px;
  bottom:0px;
  top:410px;
  left:21%;
  width: 57%;
  height :40%; 
  overflow-y:scroll ;
  color:#be5833;
  background-color: black;
  border-color:#e49622;

}


.symbolpayer{
  float:right;
 color:blanchedalmond;
 text-decoration: none;
}

.symbolpanier{
  float: left;
  color:blanchedalmond;
}




/* Menu */

.cadre{
  border-color:#2e2d29;
  border-style: solid;
  margin-bottom:1%;
  border-radius: 30px;
  z-index: 1;
}
#bordPrincipal{
  border:none;
  height: fit-content;
  grid-column-start:2;
  grid-column-end:5;
  height:550px;
  overflow-y: scroll;
}
#bordure{
  border:none;

}
.menu{
  float: right;
  color : white;
  text-decoration-line: none;
}

.menu a:hover{
  color : lightskyblue;
  text-decoration-line: underline;
  text-decoration-color: red;
}

/* ...... Contenu d'un cadre catégorie.....  */

.titre{
  color: brown;
  font-size: large;
  text-decoration:underline;
  text-decoration-color: brown;
}

.contenu{
  color:#ff6e40; 
  font-size:medium;
  margin-top:200%;
  margin-bottom: 30px; 
}

.valeur{  
  width: 30px;
  background-color: #5b5454;
  float: right;
}

.price{ 
  color:#ff6e40; 
  float: right;
  margin-bottom:20px
}

.description{
  font-size:small;
  color:#e0a96b;
  float:left;
  width: 60%;
}

/* ________ */

.haut{
  border-bottom: dotted;
  border-width: thin;
  border-color:#ff6e40;
}

.bas{
  margin-bottom:75px;
}

