
.email-container{
  background-color: black;
  height: 100%;
  width: 100%;
  min-width: 1024px;
  min-height: 1024px;
  display: grid;
}
.formulaire-email{
  margin: 20px;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: rgb(204, 171, 61);
}

.champ-formulaire{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: white;
}

.champ-formulaire textarea {
  
  box-sizing: content-box;
  height: auto;
  min-height: 200px;
  margin: 10px;
  background-color: white;
}

.champ-formulaire input {
  
  box-sizing: content-box;
  height: auto;
  min-height: 100px;
  margin: 10px;
  background-color: white;
}
.champ-formulaire legend{
  color: white;
}
.champ-formulaire button{
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  background-color: rgb(197, 168, 38);
  border: transparent;
  border-radius: 6px;
  align-self: center;
 
}

