.hero-container{

    height: 100%;
    width: 100%;
    min-width: 900px;
    max-width: 1200px;
    display:inline-block;
    align-items: center;
    background-color: black;
   
   
}

.hero-container h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: rgb(226, 146, 47);
    font-size: 50px;
    text-align: center;
    margin: 0;
}

.hero-container p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    color: aliceblue;
    font-size: 20px;
    text-align: center;
    margin: 0;
}


div ul{
    list-style-type: none;
}

.hero-img{
    width: 300px;
    height: 200px;
    border: none;
    margin: 10px 60px; 
    padding: 10px;
    display: block;

}


.defilement-img img{
    width: 650px;
    height: 490px;
    margin: 10px;
    opacity: 0.9;

}

.defilement-img{
    list-style-type: none;
    display: flex;
    margin: 0;
    position: relative;
    top:0;
    padding:0;

}

@keyframes slide{

    0%{left: 0;}
    10%{left: 0;}
    20%{left: -100%;}
    30%{left: -200%;}
    40%{left: -300%;}
    50%{left: -400%;}
    60%{left: -500%;}
    70%{left: -600;}
    80%{left: -700%;}
    90%{left: -800%;}
    100%{left: -900%;}
 

}
.defilement-img{
    animation: slide 10s  linear infinite;
}

.commentaires{
    
    width: 50% auto;
    height: 100% auto;
    position: absolute;
    box-sizing: border-box;
    border: solid;
    border-color: rgb(145, 110, 35);
    border-radius: 0.1%;
    text-align: left;
    bottom: -400px;

}

.avis{
    box-sizing: border-box;
    border: solid;
    border-color: rgb(145, 110, 35);
    border-radius: 0.1%;
}



.commentaires h1, h2, p{
    margin: 10px;
}


@media screen and (min-width:300px) {
    .hero-container{
        width: 400px;
        height: 400px;
    }
    .defilement-img img{
        width: 150px;
        height: 100px;
        margin: 10px;
        opacity: 0.9;

    }
    .commentaires {
        width: 30%;
    }
    .commentaires h1, h2,  p{
        font-size: small;
    }


}

@media only screen and (min-width:400px){
    .hero-container{
        width: 600px;
        height: 600px ;
        }
    .defilement-img img{
        width: 350px;
        height: 150px;
        margin: 10px;
        opacity: 0.9;
    }
    .commentaires {
        width: 40%;
    }
    .commentaires h1, h2,  p{
        font-size: small;
    }

}

@media only screen and (min-width:600px){
    .hero-container{
        width: 800px;
        height: 800px;
        }
    .defilement-img img{
        width: 550px;
        height: 390px;
        margin: 10px;
        opacity: 0.9;
    }
    .commentaires {
        width: 40%;
    }
    .commentaires h1, h2,  p{
        font-size: medium;
    }
}


@media only screen and (min-width:800px){
    .hero-container{
        width: 1000px;
        height: 1200px;
        }
    .defilement-img img{
        width: 750px;
        height: 590px;
        margin: 10px;
        opacity: 0.9;


    }
    .commentaires {
        width: 60%;
    }
    .commentaires h1, h2,  p{
        font-size: large;
    }
}
