/*-------------------------------------------------------GENERAL---------------------------------------------------------------(éviter)*/ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Quicksand";
  /*color: #333;*//*couleur texte exemple*/
  background-color: black;
}
/*.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}*/ /*Code de l'exemple*/





/*-------------------------------------------------------NAVBAR---------------------------------------------------------------*/

nav ul{
  list-style-type: none;
}

nav li{
  float: left;
  width: 20%;
}

nav {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 0px;
}

nav a {
  display: block;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover{
  color: orange;
  border-bottom: 2px solid orange ;
}

nav img{
  border-radius: 50%;
  display: block;
  max-width: 80%;
}

div .navbar {
	background-color: black;
}


/*-------------------------------------------------------STAFF---------------------------------------------------------------*/

.staff {
  color:white;
}
#cadre_afaire {
	border : solid;
	border-color : #808080;
	width : 906px ;
	height : 200px;
	position : relative ;
	top : 10px ;
	left : 450px ;
	overflow-y: scroll;	
}

#cadre_encours {
	border : solid;
	border-color : #808080;
	width : 906px ;
	height : 200px;
	position : relative ;
	top : 10px ;
	left : 450px ;
	overflow-y: scroll;	
}
#cadre_envoye {
	border : solid;
	border-color : #808080;
	width : 906px ;
	height : 200px;
	position : relative ;
	top : 10px ;
	left : 450px ;
	overflow-y: scroll;	
}

#titre_colonne_afaire {
	position : relative ;
	top : 13px ;
	left : 450px ;
	border : solid;
	border-color : #808080;
	width : 906px ;
	height : 20px;
	font-size : 20px;	
}

#titre_colonne_encours {
	position : relative ;
	top : 13px ;
	left : 450px ;
	border : solid;
	border-color : #808080;
	width : 906px ;
	height : 20px;	
	font-size : 20px;
}

#titre_colonne_envoye {
	position : relative ;
	top : 13px ;
	left : 450px ;
	border : solid;
	border-color : #808080;
	width : 906px ;
	height : 20px;	
	font-size : 20px;
}

#cadre_encours {
	font-size:16px;
}

#cadre_afaire{
	font-size:16px;
}

#cadre_envoye {
	font-size:16px;
}



/*-------------------------------------------------------CONNEXION---------------------------------------------------------------*/

[class*="col-"] {
  float: left;
  padding: 15px;
}

/*.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}*/

#cadre_connexion {
	width : 650px ;
	height : 650px ;
	border : solid;
	border-color : grey;
	left: 600px;
    position: relative;
    top: 80px;
	background-color:white;
}


#bouton_connexion {
	font-size:25px;
	width : 50px ;
	padding: 20px 100px 10px 100px;
	text-decoration: underline;
}

#bouton_inscription {
	font-size:25px;
	width : 50% ;
	cursor: pointer;
}

a:link {
	color : black;
	text-decoration:none;
}
a:visited {
	color :black;
	text-decoration:none;
}
a:active {
	color:black;
	text-decoration:none;
}

#bouton_inscription:hover{
	color: #a6a6a6;
}

#boutons_choix {
	padding: 40px 0px 80px 10px;
}

#titre_connexion {
	font-size:22px;
	text-align:center;
	padding:0px 0px 35px 0px;
}

#user {
	font-size:19px;
	
}
.div_text_user {
	text-align:center;
	padding: 0px 0px 35px 0px;
}
.div_user {
	position: relative;
    left: 152px;
    padding: 0px 0px 15px 0px;
	color: #767676;
}

#text_user {
	width: 340px;
    height: 40px;
	border-radius: 0px/0px;
    border-width: 1px;	
}
#text_user:focus {
	border-color:RGB(165,203,237);/*#edcba5;*/
	border-width: 2px;	
	outline:  none;
}

#text_mdp {
	width: 340px;
    height: 40px;
	border-radius: 0px/0px;
    border-width: 1px;
}
#text_mdp:focus {
	border-color:RGB(165,203,237);/*#edcba5;*/
	border-width: 2px;	
	outline:  none;
}

#pwd{
	font-size:19px;
}


#connexion_envoi{
    position: relative;
    left: 175px;
}

#bouton_connexion_envoi {
	background-color: #242120;
    border: none;
    color: white;
    width: 300px;
    height: 33px;
    font-size: 18px;
	cursor: pointer;
}
#bouton_connexion_envoi:hover{
	background-color: #777777;
	font-weight: bold;
}

#pwd_oubli {
	text-align: center;
    padding: 30px 0px 0px 0px;
	font-size: 13px;
	color: #242120;
}

#pwd_oubli:hover{
	color: #a6a6a6;
	cursor: pointer;
}


/*-------------------------------------------------------Inscription---------------------------------------------------------------*/


[class*="col-"] {
  float: left;
  padding: 15px;
}

/*.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}*/

#cadre_connexion {
	width : 650px ;
	height : 650px ;
	border : solid;
	border-color : grey;
	left: 600px;
    position: relative;
    top: 80px;
	background-color:white;
}


#bouton_connexion {
	font-size:25px;
	width : 50px ;
	padding: 20px 100px 10px 100px;
	cursor: pointer;
}

#bouton_connexion:hover{
	color: #a6a6a6;
}

#bouton_inscription {
	font-size:25px;
	width : 50% ;
	text-decoration: underline;
}

a:link {
	color : black;
	text-decoration:none;
}
a:visited {
	color :black;
	text-decoration:none;
}
a:active {
	color:black;
	text-decoration:none;
}

#boutons_choix {
	padding: 40px 0px 80px 10px;
}

#titre_connexion {
	font-size:22px;
	text-align:center;
	padding:0px 0px 35px 0px;
}

#connexion_envoi{
    position: relative;
    left: 175px;
}

#bouton_connexion_envoi {
	background-color: #242120;
    border: none;
    color: white;
    width: 300px;
    height: 33px;
    font-size: 18px;
	cursor: pointer;
}
#bouton_connexion_envoi:hover{
	background-color: #777777;
	font-weight: bold;
}

#pwd_oubli {
	text-align: center;
    padding: 30px 0px 0px 0px;
	font-size: 13px;
	color: #242120;
}

#pwd_oubli:hover{
	color: #a6a6a6;
	cursor: pointer;
}

/*-------------------------------------------------------PANIER DE COMMANDE---------------------------------------------------------------*/

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

/*.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}*/

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*.menu li:hover {
  background-color: #0099cc;
}*/


/*.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}*/

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}


@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/*mise en place*/

#menu {
	height:40%;
	font-size:25px;
}

#informations ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size : 25px;
  height : 545px;
}

#info_aliments {
	overflow-y: scroll;	
	width : 70% ;
	height : 475px;
	margin-left: auto;
    margin-right: auto;
	border : solid;
	border-color : grey;
	
}

#aliments {
	font-size : 22px;
}

.case_aliment {
	padding:  10px 100px 10px 65px ; 
}
.qtite_aliment {
	padding : 10px 100px 10px 65px;
}
.nombre_aliment {
	width : 40px ;
}
#titre_qtite {
	text-align:center;
}

#titre_aliments {
	margin-left: auto;
    margin-right: auto;
	height : 60px;
}

#titre_aliments td{
	text-align:center;
}

.elem_liste {
	padding : 24px 10px 24px;
}

#elem_heure {
	padding : 60px 10px 24px;
}

.elem_liste label {
	height : 40px ;
	width : 80% ;
}

#informations input {
	height : 50px ; 
	width : 90% ;
}

#elem_commentaire {
	padding : 0px 10px 10px 170px;	
}

#commentaire {
	height : 100px ; 
	width : 100% ;
	
}

#titre_elem_commentaire {
	font-size : 25px;
}

#boutons_finaux{
	height : 220px;
	width : 220px;
}

#elem_bouton_envoyer {
	height : 110px;
	width : 110px;
	padding: 20px 20px 20px 20px;
	margin : 2% 2% 1% 10%;
}
#bouton_envoyer {
	font-size : 25px;
	height : 50px;
	width : 140px;
}

#elem_bouton_annuler{
	height : 110px;
	width : 110px;
	padding: 20px 20px 20px 20px;
	margin : 2% 2% 1% 10%;
}
#bouton_annuler {
	font-size : 25px;
	height : 50px;
	width : 140px;
}



/*---------------------------------- informations --------------------------- */


div .Informations {
	margin-top: 3%;
	text-align: center;
	color : rgb(194, 194, 194);
	position: absolute;
	top : 20%;
	height: 100%;
	width: 100%;
	min-width: 30%;
	min-height: 20%;
	background-color: rgb(0, 0, 0);
}

.leftdiv {
	width: 48%;
	height: 90%;
	background-color: white;
	margin : 1%;
	min-width: 300px;
	display: inline-block;
}

.rightdiv {
	text-align:left;
	font-size:1.2em;
	width: 48%;
	height: 90%;
	background-color: rgb(0, 0, 0);
	margin: 1%;
	min-width: 300px;
	display: inline-block;
	position: flex;
}

ul.Days {
	text-align: left;
	width: 25%;
	height: 100%;
	margin-bottom: 15%;
	margin-top: 5%;
	min-width: 150px ;
	display: inline-block;

}

ul.Hours {
	display: inline-block;
	min-width: 150px;
	text-align: left;
	width: 25%;
	height: 100%;
	list-style-type: none;
	margin-bottom: 15%;
	margin-top: 5%;
}

/* ------------------------------------- Profil Privé ------------------------------------- */

div .profilPrive {
	text-decoration: underline;
	margin-top: 3%;
	left: 1%;
	color : rgb(194, 194, 194);
	position: absolute;
	top : 20%;
	height: 100%;
	width: 100%;
	min-width: 30%;
	min-height: 20%;
	background-color: rgb(0, 0, 0);
}

.profilheader {
	min-width: 200px;
}

div.picture img {
	min-width: 180px;
	max-width: 30%;
	max-height: 20%;
	margin: 5% 2%;
	border-radius: 50%;
	
}