/*-------------------------------------------------------GENERAL---------------------------------------------------------------(éviter)*/ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Quicksand";
  /*color: #333;*//*couleur texte exemple*/
  background-color: black;
}
/*.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}*/ /*Code de l'exemple*/





/*-------------------------------------------------------NAVBAR---------------------------------------------------------------*/

nav ul{
  list-style-type: none;
}

nav li{
  float: left;
  width: 20%;
  text-align: center;
}

nav {
  width: 100%;
  margin: 0 auto;
  background-color: aliceblue;
  position: sticky;
  top: 0px;
}

nav a {
  display: block;
  text-decoration: none;
  color: white;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover{
  color: orange;
  border-bottom: 2px solid orange ;
}

nav img{
  border-radius: 50%;
  display: block;
  max-width: 80%;
}


/*-------------------------------------------------------Noelle---------------------------------------------------------------*/



body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color : black; 
	
  }
  .Menu{
	
	grid-template-columns: 20% 20% 20% 20% 20%; 
	/* grid-auto-columns: min-content; */
	display : grid; 
	/* grid-template-rows: 30% 30% 30%; */
  
  }
  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
  }
  
  /* Barres à droite et a gauche du menu */
  
  #Sidebareleft{
	grid-column: 1;
	grid-row-start: 1;
	grid-row-end: 4;
	background-image: url("./img/Cadre_Menu_Gauche.jpg");
	margin-left: 10%;
	margin-right:5%;
  
  }
  
  #img2{
	width:100%;
	background-repeat:repeat-y;
  
  }
  
  #Sidebareright{
	grid-column:5;
	grid-row-start: 1;
	grid-row-end: 4;
	background-image: url("./img/Cadre_Menu_Droit.jpg");
	margin-right: 10%;
	margin-left:5%;
  }
  
  #img3{
	width:100%;
	background-repeat: repeat-y;
	
  }
  
  /* Barre de navigation */
  
  
  .navbar{ 
	background-color: black;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 100%;
	display: grid;
	width:100%;
	text-align: center;
	font-size: 90%;
	/* margin-bottom: 5%; */
	
  }
  .navbar li{
	height: fit-content;
	width: ma;
  }
  
  .navbar a{
	display : block;
	color: white;
	/* padding: auto; */
	text-decoration: none;
	/* display: grid; */
	margin-top:15%;
	
  }
  
  .navbar a:hover{
	color : #dfb54f;
	text-decoration-line: underline;
	text-decoration-color: #dfb54f;
  }
  
  #img{
	height: 100%;
	width: 100%;
	grid-column:3;
	display: grid;
	/* Smargin-left: 45%; */
	
  } 
  
  /* Menu */
  
  .cadre{
	border-color:#2e2d29;
	border-style: solid;
	margin-bottom:1%;
	border-radius: 30px;
	z-index: 1;
  }
  #bordPrincipal{
	border:none;
	height: fit-content;
	grid-column-start:2;
	grid-column-end:5;
  }
  #bordure{
	border:none;
  
  }
  .menu{
	float: right;
	color : white;
	text-decoration-line: none;
  }
  
  .menu a:hover{
	color : lightskyblue;
	text-decoration-line: underline;
	text-decoration-color: red;
  }
  
  /* ...... Contenu d'un cadre catégorie.....  */
  
  .titre{
	color: brown;
	font-size: large;
  }
  
  .contenu{
	color:#ff6e40; 
	font-size:medium;
	margin-top:200%;
	margin-bottom: 20px;
	
	
  }
  .valeur{
	
	width: 30px;
	background-color: #5b5454;
	float: right;
  
	
	
  }
  .price{
   
	color:#ff6e40; 
	float: right;
   
	
  }
  
  .description{
	font-size:small;
	color:#e0a96b;
	float:left;
	width: 60%;
   
  }
  .haut{
	border-bottom: dotted;
	border-width: thin;
  
	border-color:#ff6e40;
  
  }
  .bas{
	margin-bottom:30px;
   
  }
  
  /* Bouton sous le menu + cadre qu'il ouvre */
  
  /* ..... cadre..... */
  
  #cacher{
	z-index: 2;
	position: fixed;
	transform: translateX(-60%) translateY(-50%);
	top: 50%;
	left: 50%;
	color:white;
	font-size:large;
	display : none;
   
  }
  /* ..... bouton..... */
  #voir{
	background:linear-gradient(to right, #424040, white);
	background-color: teal;
	margin-top:1%;
	border-radius: 30px;
	border-color: black;
	/* margin-left: 25%; */
	grid-column: 2;
	grid-row:4;
	margin-top:15px;
	
  }
  
  /*...... Afficher/cacher panier.....*/ 
  
  #afficherCacher{
	color:white;
	background-color: rgb(208, 146, 66);
	border-style : solid;
	border-color : white;
	grid-column-start:2;
	grid-column-end: 5;
	grid-row: 2;
	border-top-left-radius:30px ;
	border-bottom-right-radius:30px;
	text-align: center;
  
  
  }
  
  .prix_total{
	color:white;
  }
  
  #payer{
	background-color: yellow;
  }
  
  
