html {
    background-color: black;
}

div.dd-wraper {
    font-size: calc(0.2em + 1vw);
    text-align: center;
    margin: 1%;
    padding : 1%;
    font-weight: 800;
    border : 1px solid black;
    background-image: url("./img/poulet.jpg");
    background-size: cover;
    border-radius: 100px;
}

div.dd-header {
    margin-left: 45%;
    padding: 0%;
    width: 5%;
    
}

ul.listHoraires {
    text-align: left;
    padding-inline-start: 1%;
}

ul.listCoord {
    text-align: left;
}

img.toggleImg {
    width: 70%;
}

div.dd-header_action:hover {
    cursor: pointer;
}

button {
    background-color: darkgoldenrod;
    display: inline-block;
    border-radius: 100px;
    font-size: calc(0.5em + 1vw);
    font-weight: 700;
    text-shadow: 2px white;
    margin-left: 2%;
    margin-top: 2%;
}

input {
    width :30%;
    border-radius: 5px;
    font-size: calc(0.1em + 1vw);
    margin : 1%;
    opacity: 0.9;
    
}

form {
    width: 100%;
    display: inline-block;
}

li {
    margin-top: 1%;
}

div.horaires {
    margin-bottom: 20%;
    padding-left: 5%;
}

div.content {
    margin-top: 5%;
}

div.dd-wraper-2 {
    font-size: calc(0.2em + 1vw);
    margin: 1%;
    padding : 1%;
    font-weight: 800;
    border : 1px solid black;
    background-image: url("./img/poulet.jpg");
    background-size: cover;
    border-radius: 100px;
}

div.dd-wraper-2 h2 {
    text-align: center;
}

div.dd-wraper-2 p {
    margin-left: 1%;
    margin-bottom: 0%;
}

div.dd-wraper-2 button {
    display: inline-block;
}
