html {
    background-color: black;
}

div.dd-wraper {
    font-size: calc(0.2em + 1vw);
    text-align: center;
    margin: 1%;
    padding : 1%;
    font-weight: 800;
    border : 1px solid black;
    background-image: url("./img/poulet.jpg");
    background-size: cover;
    border-radius: 100px;
}

div.dd-header {
    margin: 2%;
    padding: 0%;
    width: 5%;
    text-align: center;
    display: inline-block;
    
}

ul.listHoraires {
    text-align: left;
    padding-inline-start: 1%;
}

ul.listCoord {
    text-align: left;
}

img.toggleImg {
    width: 70%;
}

div.dd-header_action:hover {
    cursor: pointer;
}

button {
    background-color: darkgoldenrod;
    width: 8%;
    display: inline-block;
    border-radius: 100px;
}

input {
    width :30%;
    border-radius: 5px;
    
}

input, button {
    font-size: calc(0.1em + 1vw);
    margin : 1%;
    opacity: 0.9;
    
}

form {
    width: 100%;
    display: inline-block;
}

li {
    margin-top: 1%;
}