div {
    background: rgba(211, 169, 84, 0.986);
    position: flex;
    display: inline-block;
    clear: left;
    margin: 30px;
    overflow: auto;
    border: 1px solid black;
    padding: 30px;
    border-radius: 5px;
    float: left;
    
}